<div class="container-lg" style="margin-top: 75px;">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group has-search m-0">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" (keyup)="searchProducts()" class="form-control bg-transparent rounded-3" id="_search"
                    [(ngModel)]="searchText" placeholder="Search products..." aria-label="Search">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group pt-2 float-right">
                <button class="btn btn-outline-info dropdown-toggle px-4 rounded-start-3" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Categories<i class="fa-solid fa-tags ms-2"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li *ngFor="let category of all_categories"><a class="dropdown-item" style="cursor: pointer;"
                            (click)="filterProducts(category)">{{category.name}}</a></li>
                </ul>
                <input type="number" class="form-control" placeholder="Minimum" (keyup)="filterPrice()"
                    [(ngModel)]="priceFilteredMin">
                <span class="input-group-text px-3 text-info bg-white border-info" id="basic-addon2">Price<i
                        class="fa-solid fa-turn-down ms-2"></i></span>
                <input type="number" class="form-control" placeholder="Maximum" (keyup)="filterPrice()"
                    [(ngModel)]="priceFilteredMax">
                <span class="input-group-text px-4 text-info bg-white border-info" id="basic-addon2">Price<i
                        class="fa-solid fa-turn-up ms-2"></i></span>
            </div>
            <button class="btn btn-outline-secondary mt-2" (click)="getAllProduct()" *ngIf="buttonVisible">Clear
                filters<i class="fa-regular fa-circle-xmark ms-2"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 p-3" *ngFor="let product of searched_products">
            <div class="card p-4 rounded-3">
                <img src="{{product.uploadPhoto}}" class="card-img-top mx-auto d-block rounded-3 bg-light"
                    alt="{{product.name}}">
                <div class="card-body p-0 mt-4">
                    <h5 class="card-title text-truncate">{{product.name}}</h5>
                    <p>
                        <span class="float-left"><strong>MRP</strong>: <del>{{product.mrp}}</del></span>
                        <span class="float-right"><strong>PHP</strong>: {{product.php}}</span>
                    </p>
                    <br>
                    <p class="card-text product-desc">{{getCategoryName(product)}}</p>
                    <a class="btn btn-success text-light float-right ms-2" (click)="buyProduct(product.id)">Buy Now</a>
                    <a class="btn btn-primary text-light float-right" (click)="addToCart(product)">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>