.container {
    margin-top:0;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.123);
    width: calc(100% - 25rem);
    padding: 4rem;
    height: 100%;
  }

  .jumbotron{
    background-color: white;
  }